.App {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex
}

.Container {
  width: 100vh;
}

.cellContainer {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cell {
    width: 100%;
    height: 100%;
    font-size: 4vw;
}

.Label {
    font-size: 5vw;
}

.layout {
  padding-bottom: 20px;
}

@media screen and (min-width: 990px) {
  .Cell
  .Label {
    font-size: 80px;
  }
}
